<a href="https://colab.research.google.com/github/Evan700/BDA/blob/main/ICB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Evan Finger

5.
a.

In [ ]:
p = 'Python'
print(p[5]+p[4]+p[2]+p[0])

notP

b.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

add = num1+num2
print(add)
product = num1*num2
print(product)
floor_division = num1//num2
print(floor_division)
exponential = num1 ** num2
print(exponential)

Enter the first number: 5
Enter the second number: 6
11

6.

In [ ]:
sen = input("Enter a sentence that uses 'python' ")
new_sen = sen.replace("python", "pythons")
print(new_sen)

Enter a sentence that uses 'python' python is a snake
pythons is a snake

7.

In [ ]:
score = int(input("Enter score: "))
if score > 89:
  grade = 'A'
elif score > 79:
  grade = 'B'
elif score > 69:
  grade = 'C'
elif score > 59:
  grade = 'D'
else: grade = 'F'
print(grade)

Enter score: 79
C

8.

In [ ]:
list = [23, 'Python', 23.98]
type_list = []
for element in list:
  type_list.append(type(element))
print(list)
print(type_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

9.

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(IT_companies))

IT_companies.add('Twitter')

companies = ['Intel', 'Cisco', 'HP']
IT_companies.update(companies)
print(IT_companies)

IT_companies.remove('Cisco')

# The difference between remove and discard is that if the element is not found in the set, remove will provide an error, while discard will do nothing

A_and_B = A | B
print(A_and_B)

intersection = A & B
print(intersection)

print(A.issubset(B))    # A is a subset of B

print(A.isdisjoint(B))  # A and B are not disjoint

difference = A.symmetric_difference(B)
print(difference)

del A
del B
del A_and_B

print(len(age))     # length of list is 8
age_set = set(age)
print(len(age_set)) # length of list is 5

7
{'Twitter', 'Microsoft', 'Intel', 'Cisco', 'Google', 'IBM', 'Facebook', 'Oracle', 'Amazon', 'HP', 'Apple'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{27, 28}
8
5