<a href="https://colab.research.google.com/github/Evan700/BDA/blob/main/ICP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Evan Finger

### 1.

In [ ]:
class Counter:
  count = 0

  def __init__(self):
    self._count = 0

  def increment(self):
    self._count += 1
    Counter.count += 1

  def get_count(self):
    return f"Instance count: {self._count}, Class.count: {Counter.count}"

a=Counter()
b=Counter()

a.increment()
a.increment()
b.increment()

print(a.get_count())
print(b.get_count())

Instance count: 2, Class.count: 3
Instance count: 1, Class.count: 3



*   The difference is Counter.count is a class defined variable and does not distinguish between a and b whereas self._counter is able to distinguish between a and b and incriments seperately since it is an instance variable.
*   a.get_count(): Instance count: 2, Class.count: 3
b.get_count(): Instance count: 1, Class.count: 3
*   The increment method incriments both variables, it just incriments the instance variables seperately and incriments the class variable at the same time.

### 2.

In [ ]:
def sum_all(*args):
  return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

### 3.

In [10]:
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
def first_word(arg):
  arg.sort()
  return arg[0]

print(first_word(students))

Bartholomew

### 4.

In [9]:
class Employee:
  employee_count = 0
  total_salary = 0
  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department

    Employee.employee_count += 1
    Employee.total_salary += self.salary

  @classmethod
  def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)



employee1 = FulltimeEmployee("John Doe", "Doe Family", 50000, "Engineering")
employee2 = FulltimeEmployee("Jane Smith", "Smith Family", 60000, "Marketing")
employee3 = Employee("Emily Davis", "Davis Family", 55000, "HR")


print("Employee 1 Family: ", employee1.family)
print("Employee 2 name: ", employee2.name)
print("Employee 3 Department: ", employee3.department)

print("Employee count: ", Employee.employee_count)

print("Average salary of employees:", Employee.average_salary())

Employee 1 Family:  Doe Family
Employee 2 name:  Jane Smith
Employee 3 Department:  HR
Employee count:  3
Average salary of employees: 55000.0